<!-- FIRST ROW -->

<div class="row">

  <!-- IMG -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="center-profile-img">
      <img class="img-responsive profile-img" src="images/myself.png"></img>
    </div>
  </div>

  <!-- personal info -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <p class="title-profile">Personal Info</p>
    <!-- NAME -->
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-user"></i>
        <label>Name</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">Daniela Ventura</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <!-- DATE OF BIRTH -->
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-calendar"></i>
        <label>Date of Birth</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">25 July 1988</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <!-- ADDRESS -->
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-map-marker"></i>
        <label>Address</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">Via F. Turati, 247<br>93100, Caltanissetta, Italy</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <!-- EMAIL -->
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-envelope"></i>
        <label>Email</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">dventura@dieei.unict.it</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <!-- PHONE -->
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-phone"></i>
        <label>Phone</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">+39 380 2354761</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <!-- WEBSITE -->
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-globe"></i>
        <label>Website</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">www.dventura3.org</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
  </div>
  <!-- About ME -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <p class="title-profile">About Me</p>
    <p>A hard-working and high motivated computer engineer, currently at the last year of PhD studies at University of Catania in topics involving semantic description of REST APIs for Machine-to-Machine communications and emerging user-object interactions in Smart Environments, looking for a job which can involve the expertise acquired in these doctoral's years and to tackle new interesting challenges in a global company.</p>
  </div>
</div>


<!-- SECOND ROW -->
<div class="row row-container">
  <p class="title-profile">My Travels</p>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div google-chart chart="chart" agc-on-ready="readyHandler(chartWrapper)" style="height:350px; width:100%;"></div>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <select class="form-control" ng-model="albumSelected">
      <option ng-repeat="option in albums.data" value="{{option.path}}">{{option.name}}</option>
    </select>

    <!-- <tt>repeatSelect = {{albumSelected}}</tt><br/> -->

    <div style="margin: 20px 0px 20px 0px; clear:both; text-align:center;">
        <i class="glyphicon glyphicon-calendar"></i> <label style="margin-right:20px">{{photos[indexShowedPhoto].date}}</label>
        <i class="glyphicon glyphicon-map-marker"></i> <label>{{photos[indexShowedPhoto].location}}</label>
    </div>

    <div class="polaroid-container">
      <i class="glyphicon glyphicon-chevron-left arrow-left" ng-click="arrowManagement('LEFT')"></i>
      <img class="img-responsive travel-img" ng-src="{{photos[indexShowedPhoto].pathThumbnail}}" />
      <i class="glyphicon glyphicon-chevron-right arrow-right" ng-click="arrowManagement('RIGHT')"></i>
    </div>

    <p style="text-align:center;">{{photos[indexShowedPhoto].description}}</p>
  </div>

</div>