<!-- FIRST ROW -->

<div class="row">

  <!-- IMG -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="center-profile-img">
      <img class="img-responsive profile-img" src="images/myself.png"></img>
    </div>
  </div>

  <!-- personal info -->
<!--
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <p class="title-profile">Personal Info</p>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-user"></i>
        <label>Name</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">Daniela Ventura</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-calendar"></i>
        <label>Date of Birth</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">25 July 1988</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-map-marker"></i>
        <label>Address</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">Via F. Turati, 247<br>93100, Caltanissetta, Italy</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-envelope"></i>
        <label>Email</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">dventura@dieei.unict.it</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-phone"></i>
        <label>Phone</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">+39 380 2354761</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-globe"></i>
        <label>Website</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">www.dventura3.org</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
  </div>
-->
  <!-- About ME -->
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <p class="title-profile">About Me</p>
    <p>
      I am a researcher in topics involving <b>Smart Spaces</b>, <b>Machine to Machine</b> (M2M) and <b>Web of Things</b> (WoT) at <i>University of Catania</i> (Italy). I like to investigate issues to make a world where every "Thing" exposes an hypermedia REST API and is able to autonomously discover other "Things" and to collaborate in order to execute tasks. Furthermore, my research tries to use the "smartness" of objects to produce an effect on users, like to provide context-aware and personalized services. Also, I like very much programming and writing open source code.
      <br><br>
      I spend part of my free time playing and watching volleyball and basketball on TV. I like reading books set in countries or cities where I have been. I like every italian food, especially cannoli, pizza and pasta a forno. Recently I am trying to improve my knowledge about photography. My preferred quote is "<i>I always did something I was a little not ready to do. I think that's how you grow</i>" by Marissa Mayer (Yahoo! CEO). Finally, I absolutely think that the most romantic location is a volleyball field!
    </p>
  </div>
</div>


<!-- SECOND ROW -->
<div class="row row-container">
  <p class="title-profile">My Travels</p>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div google-chart chart="chart" agc-on-ready="readyHandler(chartWrapper)" style="height:350px; width:100%;"></div>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <select class="form-control" ng-model="albumSelected">
      <option ng-repeat="option in albums.data" value="{{option.path}}">{{option.name}}</option>
    </select>

    <!-- <tt>repeatSelect = {{albumSelected}}</tt><br/> -->

    <div style="margin: 20px 0px 0px 0px; clear:both; text-align:center;">
        <i class="glyphicon glyphicon-calendar"></i> <label>{{photos[indexShowedPhoto].date}}</label>
    </div>
    <div style="margin: 0px 0px 0px 0px; clear:both; text-align:center;">
        <i class="glyphicon glyphicon-map-marker"></i> <label>{{photos[indexShowedPhoto].location}}</label>
    </div>

    <div class="polaroid-container">
      <i class="glyphicon glyphicon-chevron-left arrow-left" ng-click="arrowManagement('LEFT')"></i>
      <img class="img-responsive ng-class:classShowedPhoto;" ng-src="{{photos[indexShowedPhoto].pathThumbnail}}" />
      <i class="glyphicon glyphicon-chevron-right arrow-right" ng-click="arrowManagement('RIGHT')"></i>
    </div>

    <p style="text-align:center;">{{photos[indexShowedPhoto].description}}</p>
  </div>

</div>