<div class="row">
  <!-- personal info -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <p class="title-profile">Personal Info</p>
    <!-- NAME -->
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-user"></i>
        <label>Name</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">Daniela Ventura</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <!-- DATE OF BIRTH -->
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-calendar"></i>
        <label>Date of Birth</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">25 July 1988</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <!-- ADDRESS -->
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-map-marker"></i>
        <label>Address</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">Caltanissetta, Italy</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <!-- EMAIL -->
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-envelope"></i>
        <label>Email</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">dventura@dieei.unict.it</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <!-- PHONE -->
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-phone"></i>
        <label>Phone</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">+39 380 2354761</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <!-- WEBSITE -->
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-globe"></i>
        <label>Website</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">www.dventura3.org</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
  </div>
  <!-- About ME -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <p class="title-profile">About Me</p>
  </div>
  <!-- IMG -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" src="images/myself.png"></img>
  </div>
</div>