<div class="row">

  <!-- FIRST COLUMN -->
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 section-data-resume">

  <!-- Personal INFO -->
  <div class="row-space">
    <p class="title-profile">Personal Info</p>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-user"></i>
        <label>Name & Surname</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">Daniela Ventura</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-envelope"></i>
        <label>Email</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">dventura@dieei.unict.it | daniela1988@gmail.com</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-globe"></i>
        <label>Nationality</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">Italian</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
  </div>  
  </div> <!-- END first COLUMN -->


	<!-- SECOND COLUMN -->
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    SOCIAL NETWORKS
	</div>
</div>



  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section-data-resume">

      <!-- PHD Thesis -->
      <div class="row-space">
        <p class="title-profile">PhD Dissertation</p>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h4>
              A New Paradigm for Collaborative Smart Objects to Enable the Development of User-Centric Services in Pervasice Environments
            </h4>
            <h5>
              University of Catania - Dpt. of Electrical, Electronic and Computer Engineering - Catania, Italy
            </h5>
            <p>
              In the near future, people will not be the only consumers of Web content, but also an increasing number of machines will be able to independently search and interpret data received from web servers in order to perform tasks for users. If a machine is an Internet-connected everyday object and its functionalities can be remotely invoked through REST API, then such machine will be part of the Web of Things. In addition to core features, objects will be augmented with sensing and adaptive capabilities, reasoning and decision-making abilities, and, as consequence, intelligence will be transferred to the environment.
              The new properties of these spaces will change the way in which people interact with objects, as well as services, which users will access to, will become absolutely innovative. From one hand, in fact, you want to reduce or facilitate human-machine interaction. From the other hand, you want to provide context-aware services, personalized services based on preferences and habits of users, and complex services given by the aggregation of basic services (“mashups”).
              </br></br>
              In this thesis we analyze and propose innovative solutions in order to make everyday objects intelligent, proactive and cooperative, then we use our proposals in order to: 1) simplify user-object interactions; 2) satisfy people’s tasks in personalized and dynamic way; 3) and increase users’ eco-awareness to induce them to change their behaviors regarding energy waste.
              </br></br>
              Take a look to my <a href="/images/slides/PhD_Thesis.pdf" target="_blank">PhD Dissertation</a> and <a href="mailto:daniela1988@gmail.com">email me</a> if you are interested for some collaborations.
            </p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <a href="/images/slides/PhD_Thesis_Presentation.pdf" target="_blank"><img class="img-screenshot-phd-presentation" src="/images/slides/PhD_Thesis_Screenshot.png" /></a>
          </div>
        </div>
      </div>

      <!-- PUBLICATION -->
      <div class="row-space">
        <p class="title-profile">Publications</p>  
        <ul class="timeline">
            <li>                  
                <div class="timelineUnit">
                    <h4>Autonomous Composition and Execution of REST APIs for Smart Sensors <span class="timelineDate">2015</span></h4>
                    <h5>D. Ventura<sup>1</sup>, R. Verborgh<sup>2</sup>, V. Catania<sup>1</sup>, and E. Mannens<sup>2</sup></h5>
                    <p>The 14th International Semantic Web Conference (ISWC2015) – Bethlehem, USA – 2015</p>
                    <p>
                      <sup>1</sup>University of Catania - Dpt. of Electrical, Electronic and Computer Engineering - Catania, Italy
                      </br>
                      <sup>2</sup>Ghent University - iMinds - Multimedia Lab - Ghent, Belgium
                    </p>
                    <div class="timeline-img">
                      <a href="http://ceur-ws.org/Vol-1488/paper-02.pdf" target="_blank"><img class="timeline-img-border" src="/images/hyperlink_min_black.png" /></a>
                      <a href="/images/slides/001.pdf" target="_blank"><img class="timeline-img-border" src="/images/presentazione_min.png" /></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>Smart EDIFICE - Smart EveryDay Interoperating Future devICEs <span class="timelineDate">2015</span></h4>
                    <h5>D. Ventura, S. Monteleone, G. La Torre, G. C. La Delfa and V. Catania</h5>
                    <p>International Conference on Collaboration Technologies and Systems - Atlanta, USA – 2015</p>
                    <p>
                      University of Catania - Dpt. of Electrical, Electronic and Computer Engineering - Catania, Italy
                    </p>
                    <div class="timeline-img">
                      <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=7210390&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D7210390" target="_blank"><img class="timeline-img-border" src="/images/hyperlink_min_black.png" /></a>
                      <a href="/images/slides/002.pdf" target="_blank"><img class="timeline-img-border" src="/images/presentazione_min.png" /></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>Embedding Intelligent Eco-aware Systems within Everyday Things to Increase People’s Energy Awareness <span class="timelineDate">2015</span></h4>
                    <h5>D. Casado-Mansilla<sup>2</sup>, J. López-de-Armentia<sup>2</sup>, D. Ventura<sup>1</sup>, P. Garaizar<sup>2</sup>, and D. López-de-Ipiña<sup>2</sup></h5>
                    <p>Soft Computing Journal - Springer – 2015</p>
                    <p>
                      <sup>1</sup>University of Catania - Dpt. of Electrical, Electronic and Computer Engineering - Catania, Italy
                      </br>
                      <sup>2</sup>Deusto Institute of Technology -  DeustoTech - University of Deusto - Bilbao, Spain
                    </p>
                    <div class="timeline-img">
                      <a href="http://link.springer.com/article/10.1007%2Fs00500-015-1751-0" target="_blank"><img class="timeline-img-border" src="/images/hyperlink_min_black.png" /></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>Security analysis and resource requirements of group-oriented user access control for hardware-constrained wireless network services <span class="timelineDate">2015</span></h4>
                    <h5>D. Ventura<sup>1</sup>, A. Gómez-Goiri<sup>2</sup>, V. Catania<sup>1</sup>, D. López-de-Ipiña<sup>2</sup>, J.A.M. Naranjo<sup>3</sup>, and L.G. Casado<sup>4</sup></h5>
                    <p>Logic Journal of the IGPL - Oxford University Press - 2015</p>
                    <p>
                      <sup>1</sup>University of Catania - Dpt. of Electrical, Electronic and Computer Engineering - Catania, Italy
                      </br>
                      <sup>2</sup>Deusto Institute of Technology -  DeustoTech - University of Deusto - Bilbao, Spain
                      </br>
                      <sup>3</sup>OAK Team, INRIA-Saclay - LRI, Université Paris-Sud - Paris, France
                      </br>
                      <sup>4</sup>Department of Computer Science - University of Almerià - Agrifood Campus of International Excellence (ceiA3) - Spain
                    </p>
                    <div class="timeline-img">
                      <a href="http://jigpal.oxfordjournals.org/content/early/2015/10/26/jigpal.jzv045.abstract" target="_blank"><img class="timeline-img-border" src="/images/hyperlink_min_black.png" /></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>ARIIMA: A Real IoT Implementation of a Machine-learning Architecture for reducing energy consumption <span class="timelineDate">2014</span></h4>
                    <h5>D. Ventura<sup>1</sup>, D. Casado-Mansilla<sup>2</sup>, J. López-de-Armentia<sup>2</sup>, P. Garaizar<sup>2</sup>, D. López-de-Ipiña<sup>2</sup>, and V. Catania<sup>1</sup></h5>
                    <p>8th International Conference on Ubiquitous Computing & Ambient Intelligence, December 2014 – Belfast, United Kingdom</p>
                    <p>
                      <sup>1</sup>University of Catania - Dpt. of Electrical, Electronic and Computer Engineering - Catania, Italy
                      </br>
                      <sup>2</sup>Deusto Institute of Technology -  DeustoTech - University of Deusto - Bilbao, Spain
                    </p>
                    <div class="timeline-img">
                      <a href="http://link.springer.com/chapter/10.1007%2F978-3-319-13102-3_72" target="_blank"><img class="timeline-img-border" src="/images/hyperlink_min_black.png" /></a>
                      <a href="/images/slides/003.pdf" target="_blank"><img class="timeline-img-border" src="/images/presentazione_min.png" /></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>Controlling Smart Objects from Web Applications using webinos Platform <span class="timelineDate">2014</span></h4>
                    <h5>V. Catania, G. La Torre, and D. Ventura</h5>
                    <p>Smart SysTech 2014 – European Conference on Smart Objects, Systems and Technologies, July 2014 – Dortmund, Deutschland</p>
                    <p>
                      University of Catania - Dpt. of Electrical, Electronic and Computer Engineering - Catania, Italy
                    </p>
                    <div class="timeline-img">
                      <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=7156018&url=http%3A%2F%2Fieeexplore.ieee.org%2Fiel7%2F7154058%2F7155750%2F07156018.pdf%3Farnumber%3D7156018" target="_blank"><img class="timeline-img-border" src="/images/hyperlink_min_black.png" /></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>An approach for Monitoring and Smart Planning of Urban Solid Waste Management Using Smart-M3 Platform <span class="timelineDate">2014</span></h4>
                    <h5>V. Catania and D. Ventura</h5>
                    <p>15th Conference of Open Innovations Association, April 2014 – Saint Petersburg, Russia</p>
                    <p>
                      University of Catania - Dpt. of Electrical, Electronic and Computer Engineering - Catania, Italy
                    </p>
                    <div class="timeline-img">
                      <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6872422&filter%3DAND%28p_IS_Number%3A6872417%29" target="_blank"><img class="timeline-img-border" src="/images/hyperlink_min_black.png" /></a>
                      <a href="/images/slides/004.pdf" target="_blank"><img class="timeline-img-border" src="/images/presentazione_min.png" /></a>
                    </div>
                </div>
            </li>
            <div class="clear"></div>
        </ul>
      </div>

    </div>
  </div>