<div class="row">

  <!-- FIRST COLUMN -->
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 section-data-resume">

  <!-- Personal INFO -->
  <div class="row-space">
    <p class="title-profile">Personal Info</p>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-user"></i>
        <label>Name & Surname</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">Daniela Ventura</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-envelope"></i>
        <label>Email</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">dventura@dieei.unict.it | daniela1988@gmail.com</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <i class="glyphicon glyphicon-globe"></i>
        <label>Nationality</label>
      </div>
      <div class="col-xs-7 col-sm-7">
        <span class="personal-info-value-profile">Italian</span>
      </div>
    </div>
    <div class="personal-info-row"></div>
  </div>





  <!-- WORKING EXPERIENCE -->
  <div class="row-space">
    <p class="title-profile">Research and Work Experience</p>  
    <ul class="timeline">
        <li>                  
            <div class="timelineUnit">
                <h4>Manager<span class="timelineDate">2010 - Present</span></h4>
                <h5>Ligula Non Lectus</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
            </div>
        </li>
        <li>
            <div class="timelineUnit">
                <h4>Web Developer<span class="timelineDate">2008 - 2010</span></h4>
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit amet ligula non lectus. amet ligula non lectus Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
        </li>
        <li>
            <div class="timelineUnit">
                <h4>Web Designer<span class="timelineDate">2007</span></h4>
                <h5>Consectetur adipiscing </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit Vivamus sit. Vivamus sit.. consectetur adipiscing Vivamus sit. Vivamus sit </p>
            </div>
        </li>
        <div class="clear"></div>
    </ul>
	</div>
  
  </div> <!-- END first COLUMN -->


	<!-- SECOND COLUMN -->
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

    <!-- AAA -->
    <div class="skills-section">
    <p class="title-profile">Programming Language</p>
    <ul class="skills">
      <li>
        <h4>Photoshop</h4>
        <div class="rating" data-rat="4"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span><span></span></div>

      </li>
      <li>
        <h4>Indesign</h4>
        <div class="rating" data-rat="6"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span></div>
      </li>
      <li>
        <h4>Illustrator</h4>
        <div class="rating" data-rat="5"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span></div>
      </li>
      <li>
        <h4>Flash</h4>
        <div class="rating" data-rat="3"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span><span></span><span></span></div>
      </li>
      <li>
        <h4>Corel Draw</h4>
        <div class="rating" data-rat="5"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span></div>
      </li>
      <li>
        <h4>Cinema4D</h4>
        <div class="rating" data-rat="4"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span><span></span></div>
      </li> 
    </ul>
    </div>

    <!-- BBB -->
    <div class="skills-section">
    <p class="title-profile">Programming Language</p>
    <ul class="skills">
      <li>
        <h4>Photoshop</h4>
        <div class="rating" data-rat="4"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span><span></span></div>

      </li>
      <li>
        <h4>Indesign</h4>
        <div class="rating" data-rat="6"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span></div>
      </li>
      <li>
        <h4>Illustrator</h4>
        <div class="rating" data-rat="5"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span></div>
      </li>
      <li>
        <h4>Flash</h4>
        <div class="rating" data-rat="3"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span><span></span><span></span></div>
      </li>
      <li>
        <h4>Corel Draw</h4>
        <div class="rating" data-rat="5"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span></div>
      </li>
      <li>
        <h4>Cinema4D</h4>
        <div class="rating" data-rat="4"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span><span></span></div>
      </li> 
    </ul>
    </div>
	</div>

</div>